:root{
    --primary: #4044c9;
    --secondary: #ffffff;
    --light: #f2f2f2;
    --test: #7875a0;
	--shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

	--work-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
	--personal-glow: 0px 0px 4px rgba(234, 64, 164, 0.75);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    background: var(--light);
    color: var(--primary);

}
input:not([type="radio"]):not([type="checkbox"]), button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
}

section{
    margin: 2rem 0;
    padding: 0 1.5rem;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 5.7rem;
    color: var(--color-sec);
    margin-bottom: 5rem;
}

h1>span {
    font-size: 2.4rem;
    font-weight: 500;
}

h2 {
    font-size: 4.2rem;
    font-weight: 700;
    margin-bottom: 4rem;
}

h3 {
    font-size: 2.8rem;
    font-weight: 500;
}

h4 {
    font-size: 2rem;
}
.container{
    
}